<!DOCTYPE html>
<html lang="ko" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Mini Adnetwork</title>
    </head>
    <body>
        <div class="">
            <b>Welcome, Mini Adnetwork!</b>
        </div>
        <div class="">
            <button type="button" name="button">Sign</button><br>
            <button type="button" name="button">Advert</button><br>
            <button type="button" name="button">Banner</button><br>
            <button type="button" name="button">Statis</button><br>
        </div>
    </body>
</html>
