<!DOCTYPE html>
<html lang="ko" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Content</title>
    </head>
    <body>
        <div class="">
            <a href="/">Home</a><br><br>
            <b>Content</b>
        </div>
        <!-- content list -->
        <div class="">

        </div>
        <div class="">
            <button type="button" name="button" onclick="getPage('content/regist')">regist</button><br>
        </div>
        <script src="/asset/javascript/common"></script>
    </body>
</html>
