<!DOCTYPE html>
<html lang="ko" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Content</title>
        <link rel="stylesheet" href="/asset/css/common">
    </head>
    <body>
        <div class="">
            <a href="/">Home</a><br><br>
            <b>Content List</b>
        </div>
        <div class="">
            <table class='scrolltbody'>
            	<thead>
            		<tr>
                        <th>#</th>
                        <th>Content Key</th>
                        <th>Content Name</th>
                        <th>Owner</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Created</th>
                        <th>Updated</th>
                        <th>Mini Point</th>
                    </tr>
            	</thead>
            	<tbody id="ctt_tbody">
            		<!-- <tr><td>1</td><td>김영광</td><td>1983-06-28</td><td>골키퍼</td></tr>
            		<tr><td>2</td><td>김진현</td><td>1987-07-06</td><td>골키퍼</td></tr>
            		<tr><td>3</td><td>정성룡</td><td>1985-01-04</td><td>골키퍼</td></tr>
            		<tr><td>4</td><td>윤석영</td><td>1990-02-13</td><td>수비수</td></tr>
            		<tr><td>5</td><td>곽태휘</td><td>1981-07-08</td><td>수비수</td></tr>
            		<tr><td>6</td><td>오범석</td><td>1984-07-29</td><td>수비수</td></tr>
            		<tr><td>7</td><td>김기희</td><td>1989-07-13</td><td>수비수</td></tr>
            		<tr><td>8</td><td>정인환</td><td>1986-12-15</td><td>수비수</td></tr>
            		<tr><td>9</td><td>신광훈</td><td>1987-03-18</td><td>수비수</td></tr>
            		<tr><td>10</td><td>김영권</td><td>1990-02-27</td><td>수비수</td></tr>
            		<tr><td>11</td><td>박주호</td><td>1987-01-16</td><td>수비수</td></tr>
            		<tr><td>12</td><td>이청용</td><td>1988-07-02</td><td>미드필더</td></tr>
            		<tr><td>13</td><td>손흥민</td><td>1992-07-08</td><td>미드필더</td></tr>
            		<tr><td>14</td><td>김보경</td><td>1989-10-06</td><td>미드필더</td></tr>
            		<tr><td>15</td><td>하대성</td><td>1985-03-02</td><td>미드필더</td></tr>
            		<tr><td>16</td><td>이승기</td><td>1988-06-02</td><td>미드필더</td></tr>
            		<tr><td>17</td><td>김정우</td><td>1982-05-09</td><td>미드필더</td></tr>
            		<tr><td>18</td><td>이근호</td><td>1985-04-11</td><td>미드필더</td></tr>
            		<tr><td>19</td><td>박종우</td><td>1989-03-10</td><td>미드필더</td></tr>
            		<tr><td>20</td><td>기성용</td><td>1989-01-24</td><td>미드필더</td></tr>
            		<tr><td>21</td><td>남태희</td><td>1991-07-03</td><td>미드필더</td></tr>
            		<tr><td>22</td><td>김신욱</td><td>1988-04-14</td><td>공격수</td></tr>
            		<tr><td>23</td><td>박주영</td><td>1985-07-10</td><td>공격수</td></tr> -->
            	</tbody>
            </table>
        </div>
        <script type="text/javascript">
            window.onload = function () {
                getContentList('P');
                return;
            }
        </script>
        <script src="/asset/javascript/common"></script>
        <script src="/asset/javascript/content"></script>
    </body>
</html>
