<!DOCTYPE html>
<html lang="ko" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Content</title>
        <link rel="stylesheet" href="/asset/css/common">
    </head>
    <body>
        <div class="">
            <a href="/">Home</a><br><br>
            <b>Content List</b>
        </div>
        <div class="">
            <table border="1" id="ctt_table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Content Key</th>
                        <th>Content Name</th>
                        <th>Owner</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Created</th>
                        <th>Updated</th>
                        <th>Mini Point</th>
                        <th>Target Gender</th>
                        <th>Target Age</th>
                    </tr>
                </thead>
                <tbody border="1" id="ctt_tbody">
                </tbody>
            </table>
        </div>
        <script type="text/javascript">
            window.onload = function () {
                getContentList('P');
                return;
            }
        </script>
        <script src="/asset/javascript/common"></script>
        <script src="/asset/javascript/content"></script>
    </body>
</html>
