<!DOCTYPE html>
<html lang="ko" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Advert</title>
        <link rel="stylesheet" href="/asset/css/common">
    </head>
    <body>
        <div class="">
            <a href="/">Home</a><br><br>
            <b>Advert</b>
        </div>
        <div class="">
            <button type="button" name="button" onclick="getPage('advert/list')">List</button><br>
            <button type="button" name="button" onclick="getPage('advert/regist')">regist</button><br>
        </div>
        <script src="/asset/javascript/common"></script>
    </body>
</html>
