<!DOCTYPE html>
<html lang="ko" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Advert</title>
        <link rel="stylesheet" href="/asset/css/common">
    </head>
    <body>
        <div class="">
            <a href="/">Home</a><br><br>
            <b>Advert List</b>
        </div>
        <div class="">
            <table border="1" id="adv_table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Advertiser</th>
                        <th>Email</th>
                        <th>Advertising slogan</th>
                        <th>Advertising Link</th>
                        <th>Status</th>
                        <th>Created</th>
                        <th>Updated</th>
                        <th>Used Point</th>
                        <th>Target Gender</th>
                        <th>Target Age</th>
                    </tr>
                </thead>
                <tbody border="1" id="adv_tbody">
                </tbody>
            </table>
        </div>
        <script type="text/javascript">
            window.onload = function () {
                getAdvertList('P');
                return;
            }
        </script>
        <script src="/asset/javascript/common"></script>
        <script src="/asset/javascript/advert"></script>
    </body>
</html>
