<!DOCTYPE html>
<html lang="ko" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Advert</title>
    </head>
    <body>
        <div class="">
            <a href="/">Home</a><br><br>
            <b>Advert Regist</b>
        </div>
        <div class="">
            <b>Advertiser: </b>
            <input type="text" name="" value="" id="adv_owner" placeholder="64bytes or less"><br>

            <b>Advertising slogan: </b>
            <input type="text" name="" value="" id="adv_desc" placeholder="128bytes or less"><br>

            <b>Advertising Link: </b>
            <input type="text" name="" value="" id="adv_link" placeholder="512bytes or less"><br>

            <b>Target Gender: </b>
            <select name="" id="tgt_gender">
            </select><br>

            <b>Target Age: </b>
            <select name="" id="tgt_age">
            </select><br>

            <button type="button" name="button" onclick="addAdvert()">Add</button><br>
        </div>
        <script type="text/javascript">
            window.onload = function () {
                getTargetList();
                return;
            }
        </script>
        <script src="/asset/javascript/common"></script>
        <script src="/asset/javascript/advert"></script>
    </body>
</html>
